/* Set padding and margin to 0 for all HTML elements */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Header Styles */

header {
	background-color: #f3620d;
	color: #fff;
	padding: 20px;
	position: relative;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 24px;
}

.logo img {
	height: 50px;
	margin-right: 10px;
}

.nav-links li {
	display: inline-block;
	margin: 0 10px;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.3s;
}

.nav-links a:hover {
	color: #999;
	transform: translateY(-3px);
}

/* Slideshow Styles */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
}

.mySlides img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.prev, .next {
	position: absolute;
	top: 50%;
	margin-top: -22px;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 16px;
	border-radius: 5px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
	transition: 0.3s;
}

.next {
	right: 0;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 1);
}

.caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	font-size: 18px;
}

/* Main Styles */

main {
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	line-height: 1.5em;
	margin-bottom: 20px;
}

/* Footer Styles */

footer {
	background-color: #707070;
	color: #00eeff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.google-maps {
	width: 50%;
	height: 250px;
	margin-right: 20px;
}

.footer-links li {
	display: inline-block;
	margin: 0 10px;
}

.footer-links a {
	color: rgb(247, 255, 93)fff;
	text-decoration: none;
	font-size: 18px;
}