{% extends 'base.html' %}

{% block title %}Video Chat [{{room_id}}]{% endblock %}

{% block script %}    
        var myRoomID = "{{room_id}}";
        var myName = "{{display_name}}";
        var audioMuted = "{{mute_audio}}" == "1";
        var videoMuted = "{{mute_video}}" == "1";
        console.log(">> {{mute_audio}}, {{mute_video}}", audioMuted, videoMuted);
{% endblock %}


{% block body %}
    <div id="video_grid" class="video-grid"></div>
    <video id="local_vid" autoplay muted></video>
{% endblock %}

{% block bodyjs %}
    <script src="{{url_for('static', filename='video-manager.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_ui.js')}}"></script>
    <script src="{{url_for('static', filename='chatroom_networking.js')}}"></script>
{% endblock %}

